🗓️ Reminders for {{ date }}

🥬 Indian groceries:
{% for item in indian_groceries %}
- {{ item }}
{% endfor %}

🛒 Costco Groceries Basic:
{% for item in costco %}
- {{ item }}
{% endfor %}

🏡 House Reminders:
{% for item in house %}
- {{ item }}
{% endfor %}}
